@model TransactionDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<script>
    app.id = {};
    app.bool = {};
    app.url = {};

    app.id.account = '@Html.IdFor(x => x.Account)';
    app.id.balance = '@Html.IdFor(x => x.Balance)';

    app.bool.shouldCheckBalance = false;
    app.url.getBalance =
        '@Url.Action(nameof(BalanceController.BalanceAjax).RemoveControllerSuffix(), nameof(BalanceController).RemoveControllerSuffix())';
</script>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Transaction</h2>
    </div>
    
    @Html.Partial("_ErrorMessage", Model.Message)

    <div class="col-sm-12 ">
        
        <br />
        
        @using (@Html.BeginForm(nameof(TransactionsController.Index), nameof(TransactionsController).RemoveControllerSuffix(), FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row form-group">
                <div class="col-sm-3 offset-1 text-right">
                    @Html.LabelFor(x => x.PrivateKey, "PRIMARY KEY")
                </div>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.PrivateKey, new { @class = "form-control text-right text-danger" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-3 offset-1 text-right">
                    @Html.LabelFor(x => x.Account, "Enter your address/account")
                </div>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.Account, new { @class= "form-control text-right" })
                </div>
                <div class="col-sm-3">
                    <button id="btn-tx-get-balance" class="btn btn-secondary" type="button">Get Balance</button>
                </div>
            </div>

            @Html.Partial("_LoadingLogo")

            <div class="row form-group">
                <div class="col-sm-3 offset-1 text-right">
                    @Html.LabelFor(x => x.Balance, "Current balance")
                </div>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.Balance, new { @class = "form-control text-right", type="text", @readonly= "readonly" })
                    @*<input id="current-balance" class="form-control text-right" type="text" value="34" readonly="readonly"/>*@
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-3 offset-1 text-right">
                    @Html.LabelFor(x => x.ReceiverAccount, "Send to address/account")
                </div>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.ReceiverAccount, new { @class = "form-control text-right" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-3 offset-1 text-right">
                    @Html.LabelFor(x => x.TransferAmount, "Amount")
                </div>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.TransferAmount, new { @class = "form-control text-right", type = "text" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-5 offset-4">
                    <input class="btn btn-info" type="submit" value="Continue" />
                </div>
            </div>
        }
 
    </div>

    @*<div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9"></div>
        </div>
            <div>
        TODO : Sent transaction
    </div>

    *@
    
</div>

<script type="text/javascript" src="~/js/getBalance.js"></script>>